.option-card {
  display: flex;
  width: 250px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 24px;
  flex-direction: column;
  margin: 8px;
}
.option-card p {
  margin: 8px;
}
.mark {
  background: #003865;
  color: #fff;
}
