.navbar ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
}

.navbar li {
  list-style: none;
  padding: 12px;
}

.navbar a {
  text-decoration: none;
  color: #003865;
  font-size: 14px;
}

.navbar a:hover {
  opacity: 0.8;
}

.navbar .active {
  border-bottom: 1px solid #003865;
}
