body {
  margin: 0;
  font-family: 'Rubik', sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
a {
  text-decoration: none;
}
p {
  margin: 0;
}
input {
  border: 1px solid #003865;
  border-radius: 4px;
  background-color: #fafafa;
  color: #333;
  font-size: 14px;
  padding: 12px 20px;
  width: 100%;
}
label {
  display: block;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 8px;
  color: #003865;
}
button {
  border: 0;
  border-radius: 4px;
  background-color: #003865;
  color: #fff;
  font-size: 14px;
  padding: 12px 20px;
  cursor: pointer;
}
button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
button:hover {
  opacity: 0.8;
}

.flex-center-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.flex-row-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.error-message {
  color: #ff0000;
  font-size: 14px;
  margin-top: 8px;
}
.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
table {
  border-collapse: collapse;
  width: 60%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  color: #003865;
}

tr:nth-child(even) {
  background-color: #c5dff5;
}

table .user-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 8px;
}

table img {
  border-radius: 50%;
  width: 40px;
}

table h3 {
  margin: 0;
  font-size: 16px;
  color: #003865;
}
table span {
  font-size: 12px;
  color: #ad620c;
}
select {
  border: 1px solid #003865;
  border-radius: 4px;
  background-color: #fafafa;
  color: #333;
  font-size: 14px;
  padding: 12px 16px;
  width: 100%;
  margin-bottom: 8px;
}
